body{
   margin: 0;
   padding: 0;
   font-family: Helvetica, Arial, sans-serif;
}
header{
   display: flex;
   justify-content: center;
   height: 120px;
}
.container{
   display: flex;
   justify-content: space-between;
   max-width: 990px;
}
.logo{
   display: flex;
   align-items: center;
   
}

menu{
   display: flex;
   align-items: center;
}

nav ul{
   display: flex;
   list-style: none;
}
nav a{
   display: block;
   text-transform: uppercase;
   text-decoration: none;
   color: #727272;
   padding: 20px;
}

nav .active a, nav a:hover{
   background-color: #39aae1;
   color: #FFFFFF;
}

#banner{
   display: flex;
   justify-content: center;
   background-image: url(../images/img1.jpg);
   background-size: cover;
   background-position: center;
   height: 670px;
}

.column{
   flex-direction: column;
}

.banner-headline{
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.banner-headline h1{
   font-size: 70px;
   max-width: 350px;
   color: #FFF;
   text-shadow: 0 2px 1px #555;
   margin: 0;
   padding: 0;
}

.banner-headline h2{
   font-size: 20px;
   max-width: 350px;
   color: #FFF;
   text-shadow: 0 2px 1px #555;
   margin: 0;
   margin-top: 20px;
   padding: 0;
}
.banner-options{
   display: flex;
   justify-content: center;
}

.banner1, .banner2, .banner3{
   height: 210px;
   flex: 1;
   padding: 20px;
}

.banner1{
   background-color: #39aae1;
}

.banner2{
   background-color: #0079c7;
}

.banner3{
   background-color: #2b4c99;
}

.banner-title{
   font-size: 22px;
   color: #FFF;
}

.banner-desc{
   font-size: 16px;
   color: #FFF;
   margin: 20px 0;
}

.banner-options a{
   display: inline-block;
   align-self: flex-end;
   border: 1px solid #FFF;
   padding: 10px;
   margin: 0;
   color: #FFF;
   text-decoration: none;
}

.banner-options a:hover{
   text-decoration: underline;
}

.timetable{
   display: flex;
   justify-content: space-between;
   border-bottom: 0.3px solid #FFF;
   margin-top: 10px;
}
.days, .hours{
   padding: 0px;
   margin: 14px 0;
   color: #FFF;
}

#geral{
   display: flex;
   justify-content: center;
}

#geral section{
   flex: 2;
}

#geral aside{
   flex: 1;
}

.widget-title{
   color: #000;
   font-size: 20px;
   margin-top: 30px;
   margin-bottom: 18px;
   font-weight: bold;
   text-transform: capitalize;
}

.widget-title-bar{
   width: 50px;
   height: 2px;
   background-color: #39aae1;
   margin-top: 15px;
}

.widget-departments{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.widget-aside-box{
   width: 150px;
   height: 150px;
   background-color: #39aae1;
   margin-bottom: 20px;
}

.widget-aside-box:hover{
   background-color: #0079c7;
}

article{
   max-width: 300px;
   margin-right: 20px;
   margin-bottom: 20px;
}

article a{
   text-decoration: none;
}

.news-data{
   display: flex;
}

.news-posted-at{
   background-color: #2b4c99;
   color: #FFF;
   font-size: 12px;
   padding: 10px;
   margin-right: 2px;
}

.news-comments{
   background-color: #39aae1;
   color: #FFF;
   font-size: 12px;
   padding: 10px;
   margin-right: 2px;
}
article .news-thumbnail{
   margin-top: 30px;
}

article .news-thumbnail img{
   width: 100%;
   height: auto;
}

article .news-title{
   color: #000;
   font-size: 20px;
   margin: 25px 0;
}

article .news-resume{
   color: #5c5c5c;
   font-size: 14px;
   line-height: 21px;
}

.flex{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}