*{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}
header{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 120px;
}
.container{
   display: flex;
   justify-content: space-between;
   width: 990px;
}
.logo{
   display: flex;
   align-items: center;
}

menu{
   display: flex;
   align-items: center;
}

nav ul{
   display: flex;
   list-style: none;
}
nav a{
   display: block;
   text-transform: uppercase;
   text-decoration: none;
   color: #727272;
   padding: 20px;
}

nav .active a, nav a:hover{
   background-color: #39aae1;
   color: #FFFFFF;
}

#banner{
   display: flex;
   justify-content: center;
   background-image: url(../images/img1.jpg);
   background-size: cover;
   background-position: center;
   height: 670px;
}

.column{
   flex-direction: column;
}

.banner-headline{
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.banner-headline h1{
   font-size: 70px;
   max-width: 350px;
   color: #FFF;
   text-shadow: 0 2px 1px #555;
   margin: 0;
   padding: 0;
}

.banner-headline h2{
   font-size: 20px;
   max-width: 350px;
   color: #FFF;
   text-shadow: 0 2px 1px #555;
   margin: 0;
   margin-top: 20px;
   padding: 0;
}
.banner-options{
   display: flex;
   justify-content: center;
}

.banner1, .banner2, .banner3{
   height: 210px;
   flex: 1;
   padding: 20px;
}

.banner1{
   background-color: #39aae1;
}

.banner2{
   background-color: #0079c7;
}

.banner3{
   background-color: #2b4c99;
}

.banner-title{
   font-size: 22px;
   color: #FFF;
}

.banner-desc{
   font-size: 16px;
   color: #FFF;
   margin: 20px 0;
}

.banner-options a{
   display: inline-block;
   align-self: flex-end;
   border: 1px solid #FFF;
   padding: 10px;
   margin: 0;
   color: #FFF;
   text-decoration: none;
}

.banner-options a:hover{
   text-decoration: underline;
}

.timetable{
   display: flex;
   justify-content: space-between;
   border-bottom: 0.3px solid #FFF;
   margin-top: 10px;
}
.days, .hours{
   padding: 0px;
   margin: 14px 0;
   color: #FFF;
}

#geral{
   display: flex;
   justify-content: center;
}

#geral main{
   flex: 2;
   margin-right: 10px;
}

.widget-title{
   color: #000;
   font-size: 20px;
   margin-top: 30px;
   margin-bottom: 30px;
   font-weight: bold;
   text-transform: capitalize;
}

.widget-title-bar{
   width: 50px;
   height: 2px;
   background-color: #39aae1;
   margin-top: 15px;
}

article{
   margin-right: 20px;
   margin-bottom: 20px;
   max-width: 50%;
}

article a{
   text-decoration: none;
}

.news-data{
   display: flex;
}

.news-posted-at{
   background-color: #2b4c99;
   color: #FFF;
   font-size: 12px;
   padding: 10px;
   margin-right: 2px;
}

.news-comments{
   background-color: #39aae1;
   color: #FFF;
   font-size: 12px;
   padding: 10px;
   margin-right: 2px;
}
article .news-thumbnail{
   margin-top: 30px;
}

article .news-thumbnail img{
   width: 100%;
   height: auto;
}

article .news-title{
   color: #000;
   font-size: 20px;
   margin: 25px 0;
}

.resume{
   color: #5c5c5c;
   font-size: 14px;
   line-height: 21px;
   padding-bottom: 30px;
   border-bottom: 1px solid #e0e0e0;   
}

#geral aside{
   flex: 1
}

.widget-departments{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.department.active{
   display: flex;
   justify-content: space-between;
   width: 100%;
   background-color: #2b4c99;
   color: #FFF;
   padding: 13px;
   margin-bottom: 20px;
}

.department.active span{
   color: #FFF;
}

.widget-departments-content{
   display: flex;
   justify-content: space-between;
}

.widget-departments-content-img{
   margin-right: 20px;
}

.widget-departments-content-img img{
   width: 80px;
   height: 80px;
   object-fit: cover;
}

.widget-departments-content .resume{
   text-align: justify;
   border-bottom: none;
}

.widget-content{
   display: flex;
   flex-wrap: wrap;
}

.widget-content-button {
   display: flex;
   justify-content: end;
   margin-top: 45px;
}
.widget-content-button a{
   font-size: 14px;
   color: #FFF;
   background-color:#2b4c99;
   text-decoration: none;
   padding: 7px;
   margin-left: 3px;
}

.widget-content-button a:hover{
   text-decoration: underline;
}

.department-container{
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-bottom: 20px;
}

.department{
   display: flex;
   justify-content: space-between;
   font-size: 14px;
   color: #5c5c5c;
   padding: 15px 0;
   border-bottom: 1px solid #e0e0e0;  
}

.department span{
   color: #3156a3;
}
.widget-contacts img{
   width: 20px;
   margin-right: 10px;
}

.widget-contacts{
   display: flex;
   justify-content: start;
   align-items: center;
   font-size: 14px;
   font-style: normal;
   color: #5c5c5c;
   padding: 10px 0;
   border-bottom: 1px solid #e0e0e0;  
}

.widget-contacts span{
   color: #000;
   font-weight: bold;
   margin-left: 5px;
}

.widget-contacts a{
   color: #3156a3;
   margin: 0 5px;
}

footer{
   background-color: #1e1e1e;
   display: flex;
   justify-content: center;
}

footer .container{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.footer-options{
   display: flex;
   justify-content: center;
}

.footer-options .banner1, .footer-options .banner2, .footer-options .banner3{
   height: auto;
}

.footer-options a{
   text-decoration: none;
   color: #FFF;
}

.footer-section{
   display: flex;
   border-bottom: 2px solid #555;
}

.footer-section1, .footer-section2, .footer-section3{
   flex: 1;
}

.footer-section-title{
   color: #e0e0e0;
   font-size: 18px;
   margin-top: 30px;
   margin-bottom: 30px;
   text-transform: capitalize;
}

.footer-title-bar{
   width: 50px;
   height: 3px;
   background-color: #39aae1;
   margin-top: 15px;
}

.footer-section-content{
   color: #909090;
   font-size: 14px;

}

.footer-section2 .footer-section-content{
   display: flex;
   flex-direction: column;
}

.footer-section2 a{
   text-decoration: none;
   color: #e0e0e0;
   font-size: 14px;
   margin: 10px 0;
}

.timestamp{
   font-size: 12px;
   color: #39aae1;
   margin: 5px 15px;
}

.tweet{
   margin: 25px 0;
}

.tweet-content{
   display: flex;
}

.tweet-content p{
   text-align: justify;
   margin-left: 5px;
}

.footer-copy{
   color: #5e5e5e;
   font-size: 12px;
   padding: 20px 0;
}

.footer-copy a{
   text-decoration: none;
   color: #e0e0e0;
}

.menuMobile{
   height: 40px;
   width: 40px;
   padding: 20px 0;
   display: none;
}

.menu-line{
   height: 3px;
   background-color: #39aae1;
}

@media (max-width: 969px),(min-width: 686px) {
   .container{
      margin: 0 15px;
   }
   .banner-headline h1{
      font-size: 50px;
   }
   .banner-headline h2{
      font-size: 14px;
   }

   article{
      max-width: 45%;
   }
}


@media (max-width:685px){
   #banner{
      height: auto;
   }
   .banner-headline{
      margin: 30px 0;
   }
   .banner-options{
      height: auto;
      flex-direction: column;
      margin-top: 50px;
   }
   .banner-title{
      font-size: 16px;
   }
   .banner-desc{
      font-size: 14px;
   }
   .container, .footer-options, .footer-section, .widget-content{
      flex-direction: column;
   }
   article{
      max-width: 100%;
   }
   #banner .container, footer .container{
      margin: 0;
   }
   .banner-headline, .footer-section{
      padding: 20px;
   }
   .footer-copy{
      padding-left: 20px;
   }
   header .container{
      flex-direction: row;
   }
   header{
      height: auto;
   }
   nav ul{
      flex-direction: column;
      display: none;
      position: absolute;
      left: 0;
      width: 100%;
      background-color: #FFF;
   }
   .menuMobile{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}